body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}


.header-franja {
    background-color: #a30000; 
    color: rgb(255, 255, 255);
    padding: 20px 0;          
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}


a {
    color: #FF3D00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.list-group-item {
    font-weight: 500;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
}

.footer {
    background-color: #222;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.albumes-column img {
    width: 100%;    
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;  
    display: block;
    margin-bottom: 10px; 
    border-radius: 5px;  
}


